/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
/* line 2, ../sass/style.scss */
body {
  font: 13px Helmet, Freesans, sans-serif;
}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
/* line 7, ../sass/style.scss */
body, select, input, textarea {
  color: #333;
}

/* line 9, ../sass/style.scss */
a {
  color: #03f;
}

/* line 10, ../sass/style.scss */
a:hover {
  color: #69f;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
/* line 13, ../sass/style.scss */
::selection {
  background: rgba(255, 255, 255, 0.3);
  /* WebKit/Blink Browsers */
}

/* line 16, ../sass/style.scss */
::-moz-selection {
  background: rgba(255, 255, 255, 0.3);
  /* Gecko Browsers */
}

/*	j.mp/webkit-tap-highlight-color */
/* line 20, ../sass/style.scss */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

/* line 22, ../sass/style.scss */
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

/* line 23, ../sass/style.scss */
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Mozilla dosen't style place holders by default */
/* line 26, ../sass/style.scss */
input:-moz-placeholder {
  color: #a9a9a9;
}

/* line 27, ../sass/style.scss */
textarea:-moz-placeholder {
  color: #a9a9a9;
}

/* line 43, ../sass/style.scss */
html, body, .wrapper {
  height: 100%;
  width: 100%;
}

/* line 47, ../sass/style.scss */
#logo {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 150px;
  height: auto;
  z-index: 10;
}

/* line 54, ../sass/style.scss */
#homeHero {
  background: url(../img/homeHeroBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 60, ../sass/style.scss */
#homeHero #drop {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  width: 200px;
  z-index: 100;
  opacity: .4;
  cursor: pointer;
  cursor: hand;
}
/* line 71, ../sass/style.scss */
#homeHero #drop:hover {
  opacity: .8 !important;
}

/* line 75, ../sass/style.scss */
#bitchinSection {
  background: url(../img/bitchinSectionBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 82, ../sass/style.scss */
#bitchinSection:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  opacity: 1;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.01) 99%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(99%, rgba(0, 0, 0, 0.01)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.01) 99%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.01) 99%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.01) 99%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.01) 99%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  pointer-events: none;
}

/* line 97, ../sass/style.scss */
#homeHero:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  opacity: 1;
  background: -moz-linear-gradient(top, transparent 0%, black 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(99%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, black 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, black 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, black 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, black 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  pointer-events: none;
}

/* line 112, ../sass/style.scss */
.section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

/* line 120, ../sass/style.scss */
.section {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
/* line 126, ../sass/style.scss */
.section .wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 760px;
  width: 90%;
  z-index: 5;
}
/* line 133, ../sass/style.scss */
.section .wrap h1, .section .wrap h2 {
  font-size: 1.8em;
  color: white;
  margin: 10px 0px;
}
/* line 137, ../sass/style.scss */
.section .wrap h1 a, .section .wrap h2 a {
  text-decoration: none;
  color: white;
}
/* line 142, ../sass/style.scss */
.section .wrap button, .section .wrap input[type=submit] {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transition: all 250ms;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  background: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 0px;
  width: 150px;
  margin-top: 25px;
  color: white;
  border-radius: 2px;
}
/* line 157, ../sass/style.scss */
.section .wrap button:hover, .section .wrap input[type=submit]:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 162, ../sass/style.scss */
.section form {
  overflow: hidden;
  text-align: center;
}
/* line 165, ../sass/style.scss */
.section form input, .section form textarea {
  width: 100%;
  margin-top: 25px;
  background: none;
  border: none;
  outline: none;
  color: white;
}
/* line 173, ../sass/style.scss */
.section form input[name=name] {
  border-bottom: 1px solid white;
  max-width: 50%;
  padding-bottom: 5px;
  float: left;
}
/* line 179, ../sass/style.scss */
.section form textarea {
  height: 200px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
/* line 186, ../sass/style.scss */
.section footer {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}
/* line 193, ../sass/style.scss */
.section #whine {
  width: auto;
}
/* line 195, ../sass/style.scss */
.section #whine h2 {
  text-align: center;
}
/* line 198, ../sass/style.scss */
.section #whine h2:before {
  content: open-quote;
  margin-right: 5px;
}
/* line 202, ../sass/style.scss */
.section #whine h2:after {
  content: close-quote;
  margin-left: 5px;
}
/* line 206, ../sass/style.scss */
.section #whine h3 {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
}
/* line 210, ../sass/style.scss */
.section #whine h3:before {
  content: "by: ";
}

/* Media queries
-------------------------------------------------------------------------------*/
/* Print styles
-------------------------------------------------------------------------------*/
