/* line 8, ../sass/style.scss */
.famous-surface:nth-child(1) {
  background: url(../img/homeHeroBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 15, ../sass/style.scss */
.famous-surface:nth-child(1) .wrap img {
  width: 80%;
  margin-left: 12%;
}

/* line 21, ../sass/style.scss */
.famous-surface:nth-child(2) {
  background: url(../img/postWhineBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 28, ../sass/style.scss */
.famous-surface:nth-child(3) {
  background: url(../img/bitchinSectionBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 640px) {
  background-attachment: scroll;
}
/* line 41, ../sass/style.scss */
.famous-surface:first-child img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 40%;
  max-width: 500px;
}
