/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements: 
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*, 
*:before, 
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
input[type=file], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover 
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif; background-color: black;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::selection {
  background: rgba(255,255,255,.3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255,255,255,.3); /* Gecko Browsers */
}
/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

@mixin center($n1, $n2){
	transform: translate($n1,$n2);
	-webkit-transform: translate($n1,$n2);
	-moz-transform: translate($n1,$n2);
	-ms-transform: translate($n1,$n2);
}
@mixin transition($n1,$n2){
	transition: $n1 $n2;
	-webkit-transition: $n1 $n2;
	-moz-transition: $n1 $n2;
	-ms-transition: $n1 $n2;
}

$bradius: 5px;

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
#user, #logo, #toggle {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#user {
	position: absolute;
	top: 35px; right: 40px;
	z-index: 500;
	@include transition(all, 250ms);
	p, a {
		@include transition(all, 250ms);
	}
	p {
		color: white;
		float: left;
		margin-right: 15px;
		opacity: .5;
		pointer-events: none;
	}
	a {
		color: white; text-decoration: none;
		float: left;
		opacity: .5;
		cursor: hand; cursor: pointer;
	}
	a:hover {
		opacity: 1;
	}
}
#user.loggedIn {
}
#user:hover {
}

.section {
}

html, body, .wrapper, .sections, .section {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
}
#mBar {
	@include transition(all,700ms);
	@include center(0,-65px);
	height: 65px;
	width: 100%;
	position: fixed;
	top: 0px; left: 0;
	background-color: rgba(255,255,255,0.4);
	z-index: 5;
}
#logo {
	position: fixed;
	top: -80px; left: 40px;
	width: 100px;
	height: auto;
	z-index: 10;
	@include transition(all, 850ms)
}
#toggle {
	position: fixed;
	width: 45px;
	height: 25px;
	top: 35px;
	left: 160px;
	z-index: 50;
	border-left: 1px solid rgba(255,255,255,.4);
	padding-left: 15px;
	opacity: 0;
	@include transition(all, 600ms);
	white-space: nowrap;
	overflow: hidden;
	p {
		position: absolute;
		top: 0; left: 40px;
		color: white;
		float: left;
		line-height: 25px;
		margin-left: 10px;
		height: 25px;
		font-family: 'Roboto', sans-serif;
	}
	img { 
		float: left;
		height: 25px;
		width: 25px;
		@include transition(all, 600ms);
	}
	.active{
		opacity: 1;
	}
}
#toggle:hover {
	width: 200px;
	opacity: 1 !important;
}
#login {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 500;
	li {
		float: left;
		margin-right: 15px;
		color: white;
		padding: 5px;
		background-color: rgba(255,255,255,.3);
		cursor: hand; cursor: pointer;
	}
}
li {
	list-style: none;
}
.sections {
	ul {
		margin: 0;
		padding: 0;
	}
}
#homeHero {
	height: 100%;
	width: 100%;
	.wrap {
		max-width: 455px;
	}
	.bg{
		background: url(../img/homeHeroBG.jpg) no-repeat center center; 
 		background-size: cover;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
 		-ms-background-size: cover;
 		-o-background-size: cover; 
		position: absolute;
		top: 0%; left: 50%;
		@include center(-50%,0%);
		height: auto;
		width: auto;
		min-height: 101%;
		min-width: 101%;
  	}
}
#postWhine {
	.bg {
 	background: url(../img/postWhineBG.jpg) no-repeat center center; 
 		background-size: cover;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
 		-ms-background-size: cover;
 		-o-background-size: cover; 
		position: absolute;
		top: 0%; left: 50%;
		@include center(-50%,0%);
		height: auto;
		width: auto;
		min-height: 101%;
		min-width: 101%;
  	}
}
#browseWhines {
	.bg {
 		background: url(../img/bitchinSectionBG.jpg) no-repeat center center; 
 		background-size: cover;
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
 		-ms-background-size: cover;
 		-o-background-size: cover;
		position: absolute;
		top: 0%; left: 50%;
		@include center(-50%,0%);
		height: auto;
		width: auto;
		min-height: 101%;
		min-width: 101%;
  }
}
.section:before {
	content: '';
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	opacity: .5;
	background: -moz-linear-gradient(top, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.7)), color-stop(99%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,.8) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	pointer-events: none;
	z-index: 15;
}
li:first-child  {
	.section:before{
	opacity: 0;
	}
}
li:last-child  {
	.section:after{
	opacity: 0;
	}
}
// .section:after {
// 	content: '';
// 	position: absolute;
// 	bottom: 0; left: 0;
// 	width: 100%; height: 40%;
// 	opacity: 1;
// 	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%); /* FF3.6+ */
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
// 	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); Chrome10+,Safari5.1+
// 	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); /* Opera 11.10+ */
// 	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); /* IE10+ */
// 	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); /* W3C */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
// 	pointer-events: none;
// }
.section:before:before {
	content: '';
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0,0,0,.7);
	pointer-events: none;
}
.section {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	position: relative;
	overflow: hidden;
	.drop {
		position: absolute;
		bottom: 15px; left: 50%;
		@include center(-50%,0);
		width: 50px;
		z-index: 100;
		cursor: pointer;
		cursor: hand;
		opacity: .5;
		img {
			position: relative;
		}
		p{
			position: absolute;
			top: 0%; left: 50%;
			@include center(-50%,-25%);
			@include transition(all, 250ms);
			color: white;
			white-space: nowrap;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.drop:hover{
		opacity: .8;
		p {
			@include center(-50%,-35%);
		}
	}
	.wrap {
		position: absolute;
		top: 50%; left: 50%;
		@include center(-50%,-50%);
		max-width: 550px;
		width: 90%;
		z-index: 5;
		h1, h2, li {
			font-size: 2.3em;
			color: white;
			margin: 10px 0px;
			text-align: center;
			a {
				text-decoration: none;
				color: white;
			}
		}
		input[type=submit] {
			@include transition(all, 250ms);
			background: none;
			border: none;
			border: 1px solid rgba(255,255,255,.4);
			background-color: rgba(255,255,255,.1);
			padding: 5px 0px;
			width: 150px;
			margin-top: 25px;
			color: white;
			border-radius: 10px;
			box-sizing: border-box;
		}
		button {
			position: absolute;
			left: 50%;
			@include center(-50%,0);
			@include transition(all, 250ms);
			background: none;
			border: none;
			outline: 1px solid rgba(255,255,255,.4);
			background-color: rgba(255,255,255,.1);
			padding: 5px 0px;
			width: 150px;
			margin-top: 25px;
			color: white;
			border-radius: 2px;
			box-sizing: border-box;
		}
		button:hover, input[type=submit]:hover {
			color: black;
			background-color: rgba(255,255,255,.8);
		}
	}
	form {
		text-align: center;
		input, textarea {
			width: 100%;
			margin-top: 25px;
			background: none;
			border: none;
			outline: none;
			color: white;
		}
		input[name=name]{
			border-bottom: 1px solid white;
			max-width: 30%;
			padding-bottom: 5px;
			float: left;
			font-weight: bold;
		}
		textarea {
			height: 200px;
			border: 1px solid white;
			padding: 10px;
			border-radius: $bradius;
			resize: none;
			box-shadow: 0 0 25px rgba(0,0,0,.2) inset;
			background-color: rgba(255,255,255,.05);
		}
		textarea, input[name=name] {
			line-height: 1.3em;
			font-size: 1.2em;
		}
		textarea::-webkit-input-placeholder  {
		  -webkit-transition: opacity 0.2s linear; 
		}

		textarea:focus::-webkit-input-placeholder  {
		  opacity: 0;
		}
	}
	footer {
		position: absolute;
		bottom: -100px; left: 0;
		width: 100%;
		height: 100px;
		background-color: white;
	}
	#whine, #whines {
		width: auto;
		h2, ul li {
			text-align: center;
			clear: both;
		}
		h2:before {
    		content: open-quote;
			margin-right: 5px;
		}
		h2:after {
			content: close-quote;
			margin-left: 5px;
		}
		h3 {
			color: rgba(255,255,255,.4);
		}
		.author {
			margin-bottom: 20px;
			float: left;
		}
		.author:before {
			content: "by: ";
		}
		ul {
			li {
				position: relative;
				text-align: left;
				margin-bottom: 35px;
				font-size: 1.8em;
				span {
					color: rgba(255,255,255,.4);
					display: block;
					font-size: 13px;
					margin-bottom: 5px;
				}
			}
		}
	}
	.hide {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}

#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.likes {
	float: right;
	h3 {
		float: left;
		cursor: hand; cursor: pointer;
	}
	h3:first-child {
	}
	h3:hover {
		color: rgba(255,255,255,1) !important;
	}
}

#login {
	position: fixed;
	top: 50%; left: 50%;
	@include center(-50%,-50%);
	background-color: rgba(0,0,0,.9); 
	width: 90%;
	max-width: 500px;
	color: white;
	text-align: center;
	padding: 25px 0px;
	outline: 1px solid white;
	opacity: 0;
	pointer-events: none;
	.close {
		cursor: hand; cursor: pointer;
		opacity: .4;
		position: absolute;
		top: 2px; right: 5px;
		@include transition(all, 250ms);
	}
	.close:hover {
		opacity: 1;
	}
	a {
		font-weight: bold;
		text-decoration: none;
		color: white;
		font-weight: bold;
		padding-bottom: 5px;
		@include transition(all, 250ms);
	}
	a:hover {
	}
}

.famous-group {
	.section:nth-of-type(1){
		background: url(../img/homeHeroBG.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	.section:nth-of-type(2){
		background: url(../img/postWHineBG.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	.section:nth-of-type(3){
		background: url(../img/bitchinSectionBG.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
}



/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 640px) {
	#mBar {
		height: 65px;
	}
	#logo {
		position: fixed;
		top: -80px; left: 20px;
		width: 100px;
		height: auto;
		z-index: 10;
	}
	#toggle {
		top: 20px;
		left: 170px;
		width: 45px;
		@include center(-115%,0);
		border-left: none;
	}
	#homeHero {
		.wrap {
			max-width: 80%;
			left: 52%;
		}
	}
	#user {
		top: 25px;
		right: 20px;
	}
	.section {
		.wrap {
			h1, h2 {
				font-size: 1.4em;
			}
			form {
				textarea {
					height: 100px;
					border-radius: 0px;
				}
				input {
					border-radius: 0px;
					-webkit-appearance: none;
				}

			}
		}
		#whine {
			width: 85%;
			h2 {
				text-align: left;
			}
		}	
	}
	#toggle:hover {
		width: 45px;
	}
}


/* Print styles
-------------------------------------------------------------------------------*/
@media print {


}