@mixin center($n1, $n2){
  transform: translate($n1, $n2);
  -webkit-transform: translate($n1, $n2);
  -moz-transform: translate($n1, $n2);
  -ms-transform: translate($n1, $n2);
}

.famous-surface:nth-child(1) {
	background: url(../img/homeHeroBG.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	.wrap {
	  	img {
	  		width: 80%;
	  		margin-left: 12%;
	  	}
  	}
}
.famous-surface:nth-child(2) {
 	background: url(../img/postWhineBG.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.famous-surface:nth-child(3) {
 background: url(../img/bitchinSectionBG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 640px) {
    background-attachment: scroll;
}

.famous-surface:first-child{
  img {
    position: absolute;
    top: 50%; left: 50%;
    @include center(-50%,-50%);
    width: 40%;
    max-width: 500px;
  }
}